body{
	background-color: black;
}
div {
	 margin: auto;
    width: 50%;
    padding: 10px;
}
img{
	right: 50%;
}
button[target=_out] {
	height:30px;
	width:100px;
	background-color: orange;
	position: fixed;
	right:60%;
	bottom:18%;
}
button[target=_1] {
	height:50px;
	width:50px;
	background-color: purple;
	position: fixed;
	right:30%;
	bottom:19%;
}
button[target=_4] {
	height:50px;
	width:50px;
	background-color: green;
	position: fixed;
	right:30%;
	bottom:47%;
}
button[target=_5] {
	height:50px;
	width:50px;
	background-color: red;
	position: fixed;
	right:30%;
	bottom:57%;
}
button[target=_6] {
	height:50px;
	width:50px;
	background-color: blue;
	position: fixed;
	right:30%;
	bottom:67%;
}
button[target=_8] {
	height:50px;
	width:50px;
	background-color: white;
	position: fixed;
	right:30%;
	bottom:87%;
}

}
